{{- if .Values.models.persistence.pvc.enabled }}
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ template "local-ai.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "local-ai.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.models.persistence.pvc.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
{{- if .Values.models.persistence.pvc.storageClass }}
  storageClassName: {{ .Values.models.persistence.pvc.storageClass }}
  {{- end }}
  accessModes:
  {{- range .Values.models.persistence.pvc.accessModes }}
    - {{ . | quote }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.models.persistence.pvc.size | quote }}
{{- end }}
